
*.log
*.pid
*.pid.lock
*.seed
*.tgz
.DS_Store
.env
.eslintcache
.grunt
.lock-wscript
.node_repl_history
.npm
.nyc_output
.yarn-integrity
bower_components
build/Release
coverage
jspm_packages/
lib-cov
lib/
logs
node_modules/
npm-debug.log*
pids
testing.js
typings/
yarn-debug.log*
yarn-error.log*
